__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env
/venv/
/env/
/staticfiles/
/media/*
!/media/.gitkeep
!/media/students/.gitkeep
!/media/coaches/.gitkeep
!/media/gallery/.gitkeep
.vscode/
.idea/
*.log
